
.aux

*.tex#

*.el

*.aux

*.~1~

*.~2~

*.~6~

*.~7~

*.~13~

*.~14~

*.log

*.~10~

*.~11~

*.bbl

*.blg

*.~15~

*.~8~

*.~9~

*.~16~

*.~17~

*.~21~

*.~22~

*.dvi

*.fdb_latexmk

*.idx

*.ilg

*.ind

*.out

*.gz

*.~27~

*.~28~

*.~4~

*.~5~

*.toc

*.~29~

*.~30~

*.gz(busy)

*.fls

*.sav
Luecking/play-fetch.pdf
Luecking/play-fetch.tex
Luecking/ttl-modal-type-system.pdf
Luecking/ttl-modal-type-system.tex
.#gram.tex
.DS_Store
percint.tex.~23~
.#percint.tex
intensional.tex.~18~
ttr.tex.~31~
percint.tex.~24~
gram.tex.~12~
